EXPO_PUBLIC_SUPABASE_URL=https://ratsywkhhnqgdtsctxps.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4eHV4aWpvbXdndWFiY2d4d2R5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI4NTE3MjQsImV4cCI6MjA2ODQyNzcyNH0.Cn6mM7-70V0Kbl1UEilLhNjLMrueFYAqmR4FU8WH2Ws
